footer{
    margin-top: 10em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5em;
    .containerFooter{
        display: flex;
        color: grey;
        .footerBox{
            padding: 2em;
            width: 25%;
        }
        .footer1{
            font-size: larger;
            line-height: 2em; 
            h3{
                visibility: hidden;
            }
        }
        h3{
            color: black;
            font-size: x-large;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            line-height: 2.5em;
            font-size: large;
            li{
                cursor: pointer;
                transition: 0.5s;
            }
            li:hover{
                color: red;
                padding-left: 2px;
            }
        }
    }
    .reseauxFooter{
        display: flex;
        gap: 2em;
        font-size: x-large;
        margin-top: 4em;
        justify-content: end;
    }
}

@media (max-width: 800px){
    footer{
        margin: 0!important;
        .containerFooter{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .footerBox{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin: 0;
                padding: 0;
                ul{
                    text-align: center;
                }
            }
            .footer1{
                display: none;
            }
        }
    }
    .reseauxFooter{
        justify-content: center!important;
        align-items: center!important;
    }
}