    body{
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
    }
nav{
    font-size: x-large;
    .containerNavbar{

        display: flex;
        gap: 10em;
        justify-content: center;
        margin-right:1em ;
        align-items: center;
        span{
            margin: auto;
            background-color: red;
            border-radius: 10px;
            padding: 7px;
            font-weight: bold;
            bottom: 2.5em;
            left: 61em;
            position: relative;
            color: white;
            font-size: small;
            box-shadow: 2px 2px 5px black;
        }
    }
    .milieuNavbar{
        display: flex;
        gap: 2em;
        align-items: center;
    }
    .finNavbar{
        display: flex;
        gap: 1.7em;
    }


}
.containerDropdownLatest,.dropdownBlog,.dropdownPages{
    display: none;
    position: absolute;
    margin-top: 50px;
    padding: 20px;
    z-index: 600;
    align-items: center;
    justify-content: center;
    background-color: white;
    line-height: 2em;
    border-top: red 5px solid; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 

.latestNavbar:hover .containerDropdownLatest{
    display: block;
}
.blogNavbar:hover .dropdownBlog{
    display: block;
}
.pagesNavbar:hover .dropdownPages{
    display: block;
}
.cursor{
    cursor: pointer;
    padding-top: 2em;
    padding-bottom: 2em;
}
.cursor:hover{
    color: red;
}
.cursor:hover div{
color: black;
}
.cursor:hover div:hover{
    color: red;
}
