    html{
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
        // width: 100vw;
    }

.navBase{
    background-color: red;
    font-size: large;
    top: 0px; 
    width: 100%;
    z-index: 100;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    .containerNavbar{
        width: 100%;
        background-color: white;
        z-index: 5000;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .navItem{
            height: 100%;
        }
        span{
            margin: auto;
            background-color: red;
            border-radius: 10px;
            padding: 7px;
            font-weight: bold;
            bottom: 2.5em;
            position: relative;
            color: white;
            font-size: small;
            box-shadow: 2px 2px 5px black;
        }
    }
    .milieuNavbar{
        display: flex;
        gap: 2em;
        align-items: center;
        height: 100%;
        .homeNavbar{
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: red;
            }
        }
        .shopNavbar{
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: red;
            }
        }
    }
    .finNavbar{
        display: flex;
        gap: 1.7em;
        align-items: center;
    }


}
.containerDropdownLatest,.dropdownBlog,.dropdownPages{
    display: none;
    position: absolute;
    margin-top: 45px;
    padding: 20px;
    z-index: 600;
    align-items: center;
    justify-content: center;
    background-color: white;
    line-height: 2em;
    border-top: red 5px solid; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 

.latestNavbar:hover .containerDropdownLatest{
    display: block;
}
.blogNavbar:hover .dropdownBlog{
    display: block;
}
.pagesNavbar:hover .dropdownPages{
    display: block;
}
.cursor{
    cursor: pointer;
    padding-top: 3em;
    padding-bottom: 3em;
}
.cursor:hover{
    color: red;
}
.cursor:hover div{
    color: black;
}
.cursor:hover div:hover{
    color: red;
}


// __________________________MODAL_______________________________

.modalInscription{
    position: fixed; 
    z-index: 200; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
    justify-content: center;
    align-items: center;
    .croix{
        display: flex;
        justify-content: end;
        font-size: 1.5em;
        color: black;
        padding-top: 10px;
        padding-right: 10px;
        cursor: pointer;
    }
    .ah{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3em;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 6em;
    }
    .containerModal{
        background-color: white;
        border-radius: 10px;
        height: 300px;
        .seConnecter{
            background-color: red;
            color: white;
            padding: 1em;
            width: 100px;
            border-radius: 10px;
            margin-top:4em ;
            text-align: center;
        }
        .Sinscrire{
            text-align: center;
            background-color: red;
            color: white;
            padding: 1em;
            width: 100px;
            border-radius: 10px;
            margin-bottom:4em ;
        }
    }
}

// _____________________________MODAL INSCRIPTION_____________________________

.SinscrireSection{
    position: fixed; 
    z-index: 200;  
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    .containerSinscrire{
        background-color: white;
        padding: 2em;
        .croixSinscrire{
            display: flex;
            justify-content: end;
            padding: 10px;
        }
        .formInscription{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1em;
        }
    }
}

// _______________________SE CONNECTER MODAL______________________

.seConnecterSection{
    position: fixed; 
    z-index: 200; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    .seConnecterContainer{
        background-color: white;
        padding: 2em;
        padding-bottom: 3em;
        padding-top: 0;
        .croixSeConnecter{
            display: flex;
            justify-content: end;
            padding: 10px;
        }
        .signSeconnecter{
            text-align: center;
        }
    
    }
}
.formSeConnecterContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.btnInputz{
    padding: 10px;
    color: red;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: large;
    transition: 0.5s ;
}
.btnInputz:hover{
    background-color: red;
    color: white;
}



#myBtn {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 300;
    font-size: 18px;
    border: none; 
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    
    i{
        color: red;
        width: 100%;
        height: 100%;
    }
  }
  #myBtn.hover .fa-arrow-turn-up{
    font-size: 3em;
  } 

//  _____________ CSS BURGER

.burger{
    z-index: 400;
    display: none;
    width: 100%;
    position: fixed;
    background-color: white;
}
.containerBurger {
    max-width: 1050px;
    width: 90%;
    margin: auto;
    background-color: white;
  }
  
  .navbarBurger {
    background-color: white;

    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  }
  
  .nav-containerBurger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbarBurger .menu-items {
    display: flex;
  }
  
  .navbarBurger .nav-containerBurger li {
    list-style: none;
  }
  
  .navbarBurger .nav-containerBurger a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbarBurger .nav-containerBurger a:hover{
      font-weight: bolder;
  }
  
  .nav-containerBurger {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-containerBurger .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-containerBurger .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-containerBurger .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-containerBurger .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-containerBurger .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-containerBurger .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbarBurger .menu-items {
    padding-top: 60px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100dvh;
    width: 100vw;
    z-index: 400;
    margin-left: -40px;
    padding-left: 50px;
    background-color: white;
    transform: translate(-150%);
    display: flex;
    // align-items: center;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    // text-align: center;
  }
  .linkssBurger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    .linkBurger{
        text-decoration: none!important;
        color: black!important;
    }
  }
  .navbarBurger .menu-items div {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .logoBurger{
    display: flex;
    align-items: center;
    width: 90%;
    // padding-left: 1em;
    justify-content: center;
    gap: 2em;
  }
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-containerBurger input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-containerBurger input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-containerBurger input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-containerBurger input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-containerBurger input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  







// ______________________________RESPONSIVE__________________________________
@media (max-width: 800px){
    html{
        width: 100vw;
    }
    .burger{
        display: flex;
    }
    .navBase{
        display: none;
        position: relative!important;
        height: 10%;
        font-size: large;
        margin-bottom: 3em;
        .containerNavbar{
            flex-direction: column;
            gap: 10px;
            padding-right: 0!important;
            span{
                display: none;
            }
        }
        .milieuNavbar{
            flex-direction: column;
            gap: 10px;
        }
        .finNavbar{
            gap: 10px;
        }
        .cursor{
            padding: 1em;
        }
    }
    .containerDropdownLatest,.dropdownBlog,.dropdownPages{
        position: relative;
    }
    #myBtn {
        padding: 10px;
    }
}
