    body{
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
    }
nav{
    font-size: x-large;
    .containerNavbar{
        display: flex;
        gap: 10em;
        justify-content: center;
        padding-right:1em ;
        align-items: center;
        span{
            margin: auto;
            background-color: red;
            border-radius: 10px;
            padding: 7px;
            font-weight: bold;
            bottom: 2.5em;
            left: 59em;
            position: relative;
            color: white;
            font-size: small;
            box-shadow: 2px 2px 5px black;
        }
    }
    .milieuNavbar{
        display: flex;
        gap: 2em;
        align-items: center;
        .homeNavbar{
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: red;
            }
        }
    }
    .finNavbar{
        display: flex;
        gap: 1.7em;
        align-items: center;
    }


}
.containerDropdownLatest,.dropdownBlog,.dropdownPages{
    display: none;
    position: absolute;
    margin-top: 50px;
    padding: 20px;
    z-index: 600;
    align-items: center;
    justify-content: center;
    background-color: white;
    line-height: 2em;
    border-top: red 5px solid; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 

.latestNavbar:hover .containerDropdownLatest{
    display: block;
}
.blogNavbar:hover .dropdownBlog{
    display: block;
}
.pagesNavbar:hover .dropdownPages{
    display: block;
}
.cursor{
    cursor: pointer;
    padding-top: 2em;
    padding-bottom: 2em;
}
.cursor:hover{
    color: red;
}
.cursor:hover div{
color: black;
}
.cursor:hover div:hover{
    color: red;
}


// __________________________MODAL_______________________________

.modalInscription{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
    justify-content: center;
    align-items: center;
    .croix{
        display: flex;
        justify-content: end;
        font-size: 1.5em;
        color: black;
        padding-top: 10px;
        padding-right: 10px;
        cursor: pointer;
    }
    .ah{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3em;
        padding-left: 4em;
        padding-right: 4em;
        padding-bottom: 6em;
    }
    .containerModal{
        background-color: white;
        border-radius: 10px;
        height: 300px;
        .seConnecter{
            background-color: red;
            color: white;
            padding: 1em;
            width: 100px;
            border-radius: 10px;
            margin-top:4em ;
            text-align: center;
        }
        .Sinscrire{
            text-align: center;
            background-color: red;
            color: white;
            padding: 1em;
            width: 100px;
            border-radius: 10px;
            margin-bottom:4em ;
        }
    }
}

// _____________________________MODAL INSCRIPTION_____________________________

.SinscrireSection{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    .containerSinscrire{
        background-color: white;
        padding: 2em;
        .croixSinscrire{
            display: flex;
            justify-content: end;
            padding: 10px;
        }
        .formInscription{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1em;
        }
    }
}

// _______________________SE CONNECTER MODAL______________________

.seConnecterSection{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    .seConnecterContainer{
        background-color: white;
        padding: 2em;
        padding-bottom: 3em;
        padding-top: 0;
        .croixSeConnecter{
            display: flex;
            justify-content: end;
            padding: 10px;
        }
        .signSeconnecter{
            text-align: center;
        }
    
    }
}
.formSeConnecterContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.btnInputz{
    padding: 10px;
    color: red;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: large;
    transition: 0.5s ;
}
.btnInputz:hover{
    background-color: red;
    color: white;
}
// header{
//     display: none;
// }
// ______________________________RESPONSIVE__________________________________
@media (max-width: 800px){
    nav{
        font-size: large;
        margin-bottom: 3em;
        .containerNavbar{
            flex-direction: column;
            gap: 10px;
            padding-right: 0!important;
            span{
                display: none;
            }
        }
        .milieuNavbar{
            flex-direction: column;
            gap: 10px;
        }
        .finNavbar{
            gap: 10px;
        }
        .cursor{
            padding: 1em;
        }
    }
    .containerDropdownLatest,.dropdownBlog,.dropdownPages{
        position: relative;
    }
}
