.section3{
    margin-top: 3em;
    .containerS3{
        display: flex;
        gap: 1.7em;
        width: 100%;
        overflow: hidden;
        .s3Gauche,.s3Milieu{
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: 1s;
            }
            img:hover{
                transform: scale(1.1);
                transition-duration: 1s;
                filter: grayscale(60%);
            }
        }
        .s3Droite{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 1.7em;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: 1s;
                    
                }
                img:hover{
                    transform: scale(1.1);
                    transition-duration: 1s;
                    filter: grayscale(60%);
                    
                }
            }
            .s3HautDroite{
                overflow: hidden;
                height: 50%;
                
            }
            .s3BasDroite{
                overflow: hidden;
                height: 50%;
            }
        }
    }



@media (max-width: 800px){
    .section3{
        margin-top: 6em;
        .containerS3{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4em;
            img{
                width: 90%;
                height: 90%;
                
            }
        }
    }
    .s3Droite{
        gap: 4em;
    }
}