.section6{
    // width: 100%;
    margin-top: 10em;
    margin-left: 10%;
    margin-right: 10%;
    .containerSection6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        h3{
            font-size: xx-large;
        }
        p{
            font-family: 'Roboto', sans-serif;
            font-size: large;
            color: grey;
            margin-bottom: 2em;
            line-height: 1.8em;
        }
        .basSection6{
            display: flex;
            gap: 2em;
            width: 100%;
            .basDroiteSection6{
                width: 50%;
                display: flex;
                margin-left: 20%;
                
                justify-content: center;
                flex-direction: column;
            }
            .basGaucheSection6{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .hautSection6{
            display: flex;
            gap: 2em;
            width: 100%;
            
           
            .gaucheHautSection6{
                width: 50%;
                display: flex;
                margin-right: 20%;
                justify-content: center;
                flex-direction: column;
            }
            .droitHautSection6{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


@media (max-width: 800px){
    .basSection6{
        flex-direction: column-reverse;
        margin: 0;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .hautSection6{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .gaucheHautSection6{
        margin-right: 0!important;
        width: 100%;
    }
    .basDroiteSection6{
        margin-left: 0!important; 
        width: 100%;
    }
    .containerSection6{
        gap: 2em;
        text-align: center;
        img{
            width: 100%;
        }
    }
}