
.section1{
    background-color: #F0F0F2;
    overflow: hidden;
    .containerSection1{
        display: flex;
        margin: 0;
        margin-left: 15%;
        margin-right: 10%;
        align-items: center;
        h2{
            margin: 0;
            font-size: 6em;
            margin-bottom: 0.7em;
        }
        p{
            font-size: larger;
            margin-bottom: 0.7em;
        }
       
        
        .text {
            cursor: pointer;
            text-align: center;
            font-size: 16px;
            line-height: 30px; 
            color: white;
            transition: all .6s ease-out;
            display: block;
        }
        
        .text:hover {
            color: white;  
        }
    }

}
.outer {
    color: white;
    cursor: pointer;
    
}

.button {
    // padding: 5px;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    // display: block;
    background: linear-gradient(to right, #4A4A4B 50%, red 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button:hover {
    background-position: left bottom;
}
@media (max-width: 800px){
    .section1{
        width: 100%;
        margin-top: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        // height: 50dvh;
        .containerSection1{
            width: 100%;
            flex-direction: column;
            margin-left: 2%;
            margin-right: 2%;
            background-image: url('../img/watch.png');
            background-position: calc(100% - 1.5em) center;
            background-repeat: no-repeat;
            background-size: contain;
            p{
                font-family: 'Roboto', sans-serif;
                color: grey;
                margin-right: 3em;
            }
            h2{
                font-size: xx-large !important;
            }
            button{
                margin-bottom: 2em;
            }
            .rolexSection1{
                display: none;
            }
        }
    }
  
}