.section2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4em;
    h2{
        font-size: xx-large;
    }
    .containerArrivals{
        display: flex;
        // justify-content: center;
        gap: 2em;
        .section2Img,.section2Img2,.section2Img3{
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: 1s;
            }
            img:hover{
                transform: scale(1.1);
                transition-duration: 1s;
            }
        }
        .section2Texte,.section2Texte2,.section2Texte3{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            span{
                font-size: x-large;
                margin-top: 2em;
            }
            .prixArrivals{
                color: red;
                margin: 0;
                font-size: larger;
            }
        }
    }
}
@media (max-width: 800px){
    .section2{
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .containerArrivals{
            flex-direction: column;
        }
    }

}